[run]
branch = True
source =
    .
omit =
    tests/*
    venv/*

[report]
fail_under = 100
show_missing = True
skip_covered = False
include =
    config.py
    release_runtime_lock.py
    src/*.py
    web.py
